@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.update-password-page {
  width: 100%;
  margin-bottom: 10px;
  @include flex-center;
  .update-password-heading {
    width: 100%;
    @include flex-center;
    h2 {
      color: $text-dark;
      font-family: $font-secondary;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      margin-top: 2rem;
    }
  }
  .update-password-container {
    width: 100%;
    @include flex-col;
    padding: 0 2rem;
    .update-password-form {
      width: 100%;
      @include form-style;
      @include flex-col;
      margin: 20px 0;
      margin-bottom: 0.5rem;
    }
  }
}
