@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.single-order-page {
  width: 100%;
  margin-bottom: 100px;
  @include flex-col;

  // banner styling--
  .single-order-banner {
    @include common-banner;
  }
  // conainer styling--
  .single-order-container {
    width: 100%;
    margin: 100px 0;
    padding: $section-lr-padding;
    @include phoneMedia {
      padding: 0 2rem;
    }
    // shipping info styling--
    .shipping-info {
      h3 {
        font-size: 3rem;
        font-family: $font-secondary;
        text-transform: capitalize;
        margin: 1rem 0;
      }
      p {
        font-size: 1.8rem;
        font-family: $font-primary;
        margin: 0.8rem 0;
      }
    }

    // order items info styling--
    .order-items {
      margin: 30px 0;
      width: 100%;

      h3 {
        font-size: 3rem;
        font-family: $font-secondary;
        margin: 3rem 0;
      }
      .table-container {
        @include table-container;
        margin: 20px 0;
      }
    }
    // order summery info styling--
    .order-summery {
      h3 {
        font-size: 3rem;
        font-family: $font-secondary;
        text-transform: capitalize;
        margin: 1rem 0;
        margin-top: 4rem;
      }
      p {
        font-size: 1.8rem;
        font-family: $font-primary;
        margin: 0.8rem 0;
      }
    }
  }
}
