@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.payment-page {
  width: 100%;
  margin-bottom: 100px;
  @include flex-col;
  .payment-banner {
    @include common-banner;
  }
  .payment-conainer {
    margin: 100px 0;
    width: 100%;
    padding: 0 2rem;
    @include flex-col;
    .payment-form {
      width: 100%;
      @include form-style;
      @include flex-col;
      margin: 100px 20px;
      margin-bottom: 0.5rem;
      .input-div {
        padding: 1.5rem;
      }
    }
  }
}
