@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$font-secondary: "Josefin Sans", sans-serif;
$font-primary: "Roboto", sans-serif;
$primary-color: #ff6d00;
$secondary-color: #ff9c00;
$text-dark: #11161e;
$text-white: #fff;
$color-light: #faf9ff;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$section-lr-padding: 0 10rem;
