@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.confirm-order-page {
  width: 100%;
  margin-bottom: 100px;
  @include flex-col;
  .confirm-order-banner {
    @include common-banner;
  }
  // Container Styling--
  .confirm-order-container {
    width: 100%;
    margin: 100px 0;
    padding: $section-lr-padding;
    @include phoneMedia {
      padding: 0 2rem;
    }

    // Shipping area info styling--
    .confirm-shipping-area {
      h2 {
        font-size: 3rem;
        font-family: $font-secondary;
        margin: 2rem 0;
      }
      .username,
      .phoneNo,
      .address {
        font-size: 2rem;
        font-family: $font-primary;
        margin: 0.9rem 0;
      }
    }
    // Cart Items Info Styling--
    .confirm-cart-items {
      margin: 30px 0;
      width: 100%;

      h2 {
        font-size: 3rem;
        font-family: $font-secondary;
        margin: 3rem 0;
      }
      .table-container {
        @include table-container;
        margin: 20px 0;
      }
    }
    // Order Summery Info Styling--
    .proceed-to-checkout {
      h2 {
        font-size: 3rem;
        font-family: $font-secondary;
        margin: 3rem 0;
      }
      .subtotal,
      .shipping-charges,
      .gst,
      .total-price {
        font-size: 2rem;
        margin: 0.8rem 0;
        font-family: $font-primary;
        span {
          font-size: 2.3rem;
          font-weight: bold;
        }
      }
      .btn {
        font-size: 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 2rem 0;
        padding: 1.5rem 2.5rem;
        color: white;
        background: linear-gradient($primary-color, $secondary-color);
        font-family: $font-primary;
        border-radius: 4px;
        transition: all 0.23s;
        &:hover {
          opacity: 0.7;
          background: linear-gradient($secondary-color, $primary-color);
        }
      }
    }
  }
}
