@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.forgot-password-page {
  width: 100%;
  margin-bottom: 100px;
  @include flex-center;
  // banner styling--
  .forgot-password-banner {
    @include common-banner;
  }
  .heading {
    padding: 2rem 2rem;
    h3 {
      font-size: 2rem;
      text-align: center;
      font-family: $font-secondary;
      margin: 2rem;
      text-transform: capitalize;
    }
    p {
      font-size: 1.6rem;
      font-family: $font-primary;
      text-align: center;
    }
  }
  // container--
  .form-container {
    width: 100%;
    padding: 0 2rem;
    @include flex-col;

    .forgot-password-form {
      width: 100%;
      @include form-style;
      @include flex-col;
      margin: 50px 20px;
      margin-bottom: 0.5rem;
    }
  }
}
